In [76]:
import pandas as pd

In [77]:
dataset=pd.read_csv('CKD.csv')

In [78]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [79]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [80]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [81]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [82]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]

In [83]:
dependent=dataset[['classification_yes']]

In [84]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [85]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [86]:
grid_params={'n_neighbors':[5],'algorithm':['auto','ball_tree','brute'],}

In [87]:
grid=GridSearchCV(KNeighborsClassifier(),grid_params,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')

In [88]:
grid.fit(X_train,y_train)

C:\Users\Priya\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   6 out of   9 | elapsed:    3.7s remaining:    1.8s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:    3.7s finished
C:\Users\Priya\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'brute'],
                         'n_neighbors': [5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [89]:
grid_predictions=grid.predict(X_test)

In [90]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)
print(cm)

[[41  4]
 [26 49]]

In [91]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)
print(clf_report)

              precision    recall  f1-score   support

           0       0.61      0.91      0.73        45
           1       0.92      0.65      0.77        75

    accuracy                           0.75       120
   macro avg       0.77      0.78      0.75       120
weighted avg       0.81      0.75      0.75       120

In [92]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("Best parameters{}:".format(grid.best_params_),f1_macro)

Best parameters{'algorithm': 'auto', 'n_neighbors': 5}: 0.7530691964285714

In [93]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.8210370370370371

In [54]:
re=grid.cv_results_

In [55]:
table=pd.DataFrame.from_dict(re)

In [56]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010304,0.001519,0.001537,0.001116,1,{'alpha': 1.0},0.841162,0.841162,0.872946,0.851757,0.014983,1

In [57]:
age=int(input("Enter your Age:"))
bp=float(input("Enter bp level:"))
al=float(input("Enter al level:"))
su=float(input("Enter su level:"))
bgr=float(input("Enter bgr level:"))
bu=float(input("Enter bu level:"))
sc=float(input("Enter sc level:"))
sod=float(input("Enter sod level:"))
pot=float(input("Enter pot level:"))
hrmo=float(input("Enter hrmo level:"))
pcv=float(input("Enter pcv level:"))
wc=float(input("Enter wc level:"))
rc=float(input("Enter rc level:"))
sg_b=int(input("Enter sg_b 0 or 1:"))
sg_c=int(input("Enter sg_c 0 or 1:"))
sg_d=int(input("Enter sg_d 0 or 1:"))
sg_e=int(input("Enter sg_e 0 or 1:"))
rbc_normal=int(input("Enter rbc_normal 0 or 1:"))
pc_normal=int(input("Enter pc_normal 0 or 1:"))
pcc_present=int(input("Enter pcc_present 0 or 1:"))
ba_present=int(input("Enter ba_present 0 or 1:"))
htn_yes=int(input("Enter htn_yes 0 or 1:"))
dm_yes=int(input("Enter dm_yes 0 or 1:"))
cad_yes=int(input("Enter cad_yes 0 or 1:"))
appet_yes=int(input("Enter appt_yes 0 or 1:"))
pe_yes=int(input("Enter pe_yes 0 or 1:"))
ane_yes=int(input("Enter ane_yes 0 or 1:"))

Enter your Age:35
Enter bp level:150
Enter al level:5
Enter su level:0
Enter bgr level:150
Enter bu level:20
Enter sc level:1
Enter sod level:140
Enter pot level:5
Enter hrmo level:8
Enter pcv level:40
Enter wc level:9520
Enter rc level:6
Enter sg_b 0 or 1:1
Enter sg_c 0 or 1:0
Enter sg_d 0 or 1:1
Enter sg_e 0 or 1:0
Enter rbc_normal 0 or 1:1
Enter pc_normal 0 or 1:1
Enter pcc_present 0 or 1:0
Enter ba_present 0 or 1:0
Enter htn_yes 0 or 1:1
Enter dm_yes 0 or 1:0
Enter cad_yes 0 or 1:0
Enter appt_yes 0 or 1:0
Enter pe_yes 0 or 1:0
Enter ane_yes 0 or 1:0

In [58]:
Future_predictions=grid.predict([[age, bp, al, su, bgr, bu, sc, sod, pot, hrmo, pcv,
       wc, rc, sg_b, sg_c, sg_d, sg_e, rbc_normal, pc_normal,
       pcc_present, ba_present, htn_yes, dm_yes, cad_yes,
       appet_yes, pe_yes, ane_yes]])

In [59]:
print("Future_predictions:{}".format(Future_predictions))

Future_predictions:[0]